* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: helvetica, "PingFang SC", sans-serif;
}

img {
    width: 100%;
}

:root {
    --primary-color: #0751f2;
    --primary-color-hover: #003ab8;
    --secondary-color: #e3e3e3;
    --text-color-lightest: #e5e5e5;
    --text-color-darker: #333;
    --text-color-dark: #666;
    --text-color-gray: #999;
    --text-color-dark-gray: #777;
    --text-color-light-gray: #bbb;
    --backdrop-color: rgba(42, 42, 41, 0.69);
}

header {
    width: 100vw;
    height: 60px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

.logo .kuaner-logo img {
    float: left;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    margin-right: 8px;
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    text-decoration: none;
    margin: 0 24px;
}

header .burger {
    display: none;
}

header.sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    animation: dropDown 0.618s ease-in-out forwards;
}

header.sticky .logo,
header.sticky nav a,
header.sticky nav i {
    color: var(--text-color-darker);
}

@keyframes dropDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.glide {
    background-color: aqua;
    position: relative;
    top: -80px;
    z-index: 50;
}

.glide__slide img,
.glide__slide video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
    top: 26%;
}

.glide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-caption h1 {
    margin-bottom: -12px;
    font-size: 48px;
    font-weight: 600;
}

.slide-caption h3 {
    line-height: 1.6;
    font-size: 24px;
    font-weight: 300;
    margin: 30px 0;
}

.slide-caption.left {
    position: absolute;
    max-width: 60vw;
    color: var(--text-color-lightest);
    text-align: left;
}

/* .slide-caption>* {
    opacity: 0;
} */

.backdrop {
    background-color: var(--backdrop-color);
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.explore-btn {
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    font-size: 18px;
    color: var(--text-color-lightest);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.explore-btn:hover {
    background-color: var(--primary-color-hover);
}

/* 内容区域通用样式 */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    justify-items: center;
    max-width: 1180px;
    padding: 0 80px;
}

.section-bg {
    position: relative;
}

.section-bg::before {
    content: "";
    position: absolute;
    background-color: #F8F8F8;
    width: 100vw;
    height: 100%;
    z-index: -1;

}

.title1 {
    font-size: 32px;
    color: var(--text-color-darker);
}

.title1::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 14px;
    transform: translateX(50%);
}

.intro {
    width: 80%;
    margin: 16px 0px 60px 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    color: var(--text-color-dark-gray);
}

.about-us {
    padding-bottom: 32px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 130px 130px;
    column-gap: 5vw;
}

.feature {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.features i.fas {
    grid-area: icon;
    font-size: 34px;
    color: var(--primary-color);
}

.feature-title {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-darker);
}

.feature-content {
    grid-area: content;
    color: var(--text-color-gray);
}

/* 成功案例 */
.showcases {
    max-width: unset;
    padding: 0;
    padding-top: 72px;
}

.filter-btns {
    margin-top: 48px;
    margin-bottom: 40px;
}

.filter-btn {
    line-height: 1.5;
    margin: 0 8px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color-darker);
    padding: 8px 24px;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.filter-btn:focus,
.filter-btn:active {
    outline: none;
}

.filter-btn.active,
.filter-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
}

.showcases .cases {
    width: 100vw;
}

.showcases .case-item {
    width: 25vw;
    height: 20vw;
    overflow: hidden;
}

.case-item img {
    height: 100%;
    object-fit: cover;
}

/* 服务流程 */
.service {
    padding-top: 72px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 32px;
}

.service-item {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon content";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 40px 60px;
    padding: 24px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
}

.service-item i.fas,
.service-item i.fab {
    grid-area: icon;
    font-size: 42px;
    padding-top: 8px;
    color: var(--primary-color);
}

.service-item .service-title {
    grid-area: title;
    /* line-height: 1.6; */
    font-size: 20px;
    color: var(--text-color-darker);
}

.service-item .service-content {
    grid-area: content;
    color: var(--text-color-gray);
}

/* 团队介绍 */
.team-intro {
    margin-top: 48px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.team-member {
    /* background-color: #fff; */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 24px;
    transition: 0.4s;

    display: grid;
    justify-items: center;
}

.profile-image {
    overflow: hidden;

}

.profile-image img {
    width: 100%;
    height: 264px;
    object-fit: cover;
    object-position: top center;
}

.team-member .name {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-darker);
}

.team-member .position {
    font-size: 16px;
    color: var(--text-color-dark-gray);
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
}

.social-links li {
    list-style: none;
}

.social-links li i {
    color: var(--text-color-dark);
    font-size: 18px;
    text-decoration: none;
}

.team-member:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

.social-links li i:hover {
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: none;
}

/* 数据部分 */
.data-section {
    max-width: unset;
    width: 100vw;
    height: 325px;
    background-image: url("images/adult-business-computer-contemporary-380769.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 220px));
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;

}

.data-section::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--backdrop-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.data-piece {
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    position: relative;
    color: white;
    z-index: 40;
}

.data-piece i.fas {
    font-size: 44px;
}

.data-piece .num {
    margin-top: 4px;
    font-size: 40px;
    font-weight: 600;
}

.data-piece .desc {
    font-size: 18px;
    font-weight: 500;
}

/* 公司新闻 */
.company-news {
    margin: 72px 0;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

}

.new {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    padding: 24px;
    transition: 0.4s;
}

.new-image-wrapper {
    height: 225px;
    overflow: hidden;
    margin: -24px;
    margin-bottom: 0px;

}

.new-image-wrapper img {
    min-height: 300px;
    object-fit: cover;
}

.new .meta {
    margin-top: 24px;
    margin-bottom: 12px;
    color: var(--text-color-light-gray);
    font-size: 12px;
    display: flex;
}

.new .meta>p:last-child {
    margin-left: 24px;
}

.new-title {
    color: var(--text-color-darker);
    font-size: 18px;
    margin-bottom: 12px;
}

.news article {
    color: var(--text-color-gray);
    letter-spacing: 0.5;
    line-height: 1.6;
}

.read-more-btn {
    border: 0;
    color: white;
    background-color: var(--primary-color);
    padding: 6px 12px;
    margin-top: 16px;
    border-radius: 4px;
    transition: 0.4s;
}

.read-more-btn:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.new:hover {
    transform: translateY(-12px) scale(1.01);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

/* 底部导航 */
footer {
    margin-top: 24px;
    background-color: #333;
    display: grid;
    justify-items: center;
    padding-top: 72px;
    padding-bottom: 24px;
    /* grid-template-columns: ; */
}

.footer-menus {
    width: 100%;
    max-width: 1180px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    padding: 0 80px;
    position: relative;
}

.menu-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}

.contact-us {
    justify-self: start;
    color: var(--text-color-lightest);
}

.contact-us p:not(:first-child) {
    padding-bottom: 16px;
}

.menu-items li {
    list-style: none;
    padding-bottom: 8px;
}

.menu-items li a {
    font-weight: 300;
    color: var(--text-color-light-gray);
    text-decoration: none;
}

.icp-info {
    /* display: block; */
    padding-top: 24px;
    margin-top: 32px;
    margin-bottom: 12px;
}

.divider {
    height: 1px;
    border-top: 1px solid #444;
    grid-column: 1 / -1;
    margin-top: 32px;
}

.icp-info,
.rights {
    grid-column: 1 / -1;
    justify-self: center;
    color: var(--text-color-light-gray);
}

.scrollToTop {
    display: none;
    position: relative;
    z-index: 300;
    transition: 0.5s ease-in-out;
}

.scrollToTop a {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text-color-lightest);
    position: fixed;
    right: 30px;
    bottom: 30px;
}

@media(max-width:1100px) {

    .title1 {
        font-size: 28px;
        color: var(--text-color-darker);
    }

    .intro {
        font-size: 16px;
    }

    header nav {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    header .burger {
        display: block;
        width: 20px;
        height: 6px;
        position: relative;
        justify-self: end;
        cursor: pointer;

    }

    .burger-line1,
    .burger-line2,
    .burger-line3 {
        width: 20px;
        height: 2px;
        background-color: var(--text-color-lightest);
    }

    .burger-line1 {
        position: absolute;
        top: -6px;
    }

    .burger-line3 {
        position: absolute;
        top: 6px;
    }

    header.open nav {
        display: grid;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        grid-auto-rows: max-content;
        justify-items: end;
        padding: 0 40px;
        opacity: 0;
        animation: slideDown 0.6s ease-in-out forwards;
    }

    header.open nav>* {
        color: var(--text-color-darker);
        animation: showMenu 0.5s linear forwards 0.6s;
        font-size: 18px;
        margin: 8px 0;
        opacity: 0;
    }

    header.open nav>i.fas {
        margin-top: 10px;
    }

    header.open .burger-line1,
    header.open .burger-line2,
    header.open .burger-line3,
    header.sticky .burger-line1,
    header.sticky .burger-line2,
    header.sticky .burger-line3 {
        background-color: var(--text-color-darker);
        transition: 0.4s ease-in-out;
    }

    header.open .burger-line1 {
        transform: rotate(45deg) translate(3px, 5px);
    }

    header.open .burger-line2 {
        transform: translateX(5px);
        opacity: 0;
    }

    header.open .burger-line3 {
        transform: rotate(-45deg) translate(3px, -5px);
    }

    header.open .logo {
        z-index: 40;
        color: var(--text-color-darker);
    }

    @keyframes slideDown {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: 100vh;
            padding-top: 80px;
            opacity: 1;
        }
    }

    @keyframes showMenu {
        from {
            opacity: 0;
            transform: translateY(-1vh);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .service-item .service-title {
        font-size: 18px;
    }

    .service-item .service-content {
        font-size: 14px;
    }

    .service-item i.fas {
        font-size: 38px;
    }

    .team-members {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 32px;
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        padding: 0 8vw;
    }

    .news {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 32px;
    }
}

@media(max-width:992px) {
    .slide-caption h1 {
        font-size: 48px;
    }

    .slide-caption h3 {
        font-size: 18px;
    }

    .features,
    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
    }

    .data-section {
        grid-template-columns: repeat(2, minmax(200px, auto));
        padding-top: 20px;
        height: auto;
        row-gap: 24px;
        background-size: 200%;
    }

    .showcases .case-item {
        width: calc(100vw/3);
    }
}

@media(max-width:768px) {

    section,
    .footer-menus {
        padding: 0 40px;
    }

    .footer-menus {
        grid-template-columns: 2fr repeat(2, 1fr);
        row-gap: 32px;
    }

    .contact-us {
        grid-row: 1/3;
    }

    .icp-info {
        margin-top: 0;
        margin-bottom: -24px;
    }

    .news {
        grid-template-columns: minmax(300px, 440px);
        display: grid;
        row-gap: 32px;
    }

    .new-image-wrapper {
        height: 280px;
        overflow: hidden;
        margin: -24px;
        margin-bottom: 0px;
    }

    .data-section {
        grid-template-columns: 1fr;
        background-size: 300%;
    }

    .team-members {
        grid-template-columns: minmax(300px, 440px);
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        padding: 0 12vw;
    }

    .features,
    .services {
        grid-template-columns: 1fr;
    }

    .showcases .case-item {
        width: calc(100vw/2);
        height: 35vw;
    }
}

@media(max-width:576px) {
    .slide-caption h1{
        font-size: 32px;
    }
    .slide-caption h3{
        font-size: 14px;
        color: white;
    }
    .explore-btn {
        font-size: 14px;
        padding: 10px 24px;
    }

    .footer-menus {
        grid-template-columns: 1fr;
    }
}
